<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Password=P@55w0rd;Integrated Security=True;User ID=sa;Initial Catalog=DriversMergedMotiSectorAPI2017;Data Source=localhost" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AuthTokenExpiry" value="900"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<authentication mode="Forms">
      <forms name="PenCookie"  slidingExpiration="true" cookieless="UseCookies" domain="" timeout="30" />
    </authentication>-->
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
    <!--<authentication mode="Windows" />-->
    <authentication mode="Forms">
      <!--<forms name="CCookie" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" slidingExpiration="false" cookieless="UseCookies" domain="" timeout="900"/>-->
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6"/>
    <membership defaultProvider="CUSTORMembershipProvider">
      <providers>
        <add name="CUSTORMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CustorSecurity" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="3"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SecuritySqlRoleProvider">
      <providers>
        <add applicationName="CustorSecurity" connectionStringName="ConnectionString" name="SecuritySqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <profile defaultProvider="CUSTORProfileProvider">
      <providers>
        <add name="CUSTORProfileProvider" connectionStringName="ConnectionString" applicationName="CustorSecurity" type="System.Web.Profile.SqlProfileProvider, System.Web,Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <group name="Organization">
          <add name="Name" type="String"/>
          <add name="GUID" type="String"/>
          <add name="Administration" type="String"/>
          <add name="Category" type="String"/>
          <add name="Language" type="String"/>
          <add name="LanguageID" type="int"/>
          <add name="Zone" type="String"/>
          <add name="Wereda" type="String"/>
          <add name="Code" type="String"/>
        </group>
        <group name="Staff">
          <add name="FullName" type="String"/>
          <add name="GUID" type="String"/>
          <add name="Units" type="String"/>
        </group>
      </properties>
    </profile>
    <!--<identity impersonate="true" />-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <!-- add this -->
    </modules>
    <!--<modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.net>
    <settings>
      <httpListener unescapeRequestUrl="true"/>
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>