<div >
    <div style="margin-bottom: 80px">
        <h2>Welcome</h2> 
        <p>
            This component provides Web Service APIs that are used to perform Student Registration Banckend System for Safaricom Ethiopia 
        </p>
        <p style="text-align: center"><a href="~/swagger/ui/index">Browse API</a></p>
    </div>

</div>